#logo{
  width:100px;
  height:auto;
}

header{
  display:flex;
  padding-top:10px;
  justify-content: space-between;

}

.mypic{
  display:flex;
  justify-content: center;
  align-items: center;
}

#city-container{
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.books{
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.speaking-text{
  font-size: 30px;
  padding: 20px;
}

p{

}

.featured-item-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.books  img {
  width:350px;
  hight:350px;
  padding: 10px;
}

.service-name-text{
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

.mypic > img{
  background-repeat: no-repeat;
  background-size: auto;
  /* object-fit: contain */
  width: 400px;
  padding: 30px;
}

#menu-options{
  display:none;
}

#main-header-banner{
  padding: 30px 30px 100px 30px;
  margin:30px;
  background: url("../images/doha.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.scroll{
  text-align: center;
  font-size: 22px;
  padding: 30px;
  margin-bottom: 40px;
}

#main-header-banner::after {
  position: absolute;
}

.work-description{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 100px;
}

.work-description img {
  background-repeat: no-repeat;
  background-size: auto;
  object-fit: contain
  width: 350px;
  height:300px;
  /* height: 100%; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 39px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

body{
  font-family: Montserrat, sans-serif;
    color: rgb(26, 27, 31);
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;

}
p{
  margin: 20px;
}

#side{
  padding:0px;
}

.navigation-wrap{
  padding-right: 50px;
}


.navigation {

  display: flex;
  padding: 30px 50px;


}

.paragraph-light{
  padding: 10px;
  text-align: center;
}

.contact-headline{
  padding-bottom: 30px;
}
.contact-form-grid {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.contact-form-wrap {
  width: 70%;
}

h3 {
  margin-top: 10px;
  padding-top: 50px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
  text-align: center;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form-grid {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}
.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.section.cc-contact {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.footer-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }

.footer-links > a{
  padding: 10px;
}


.footer-img{
    width:50px;
    height:50px;
}

.position-name-text{
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

.navigation-wrap{
  display:flex;
  align-items: center;
}

.navigation-item {
  padding: 9px;
  opacity: 0.9;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}
